.form-container {
  padding: 20px;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

button {
  padding: 10px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}